APP_PROFILE=dev

DB_HOST=localhost
DB_PORT=3306
DB_NAME=scriba_dev
DB_USERNAME=scriba_user
DB_PASSWORD=scriba_dev_pass
DB_ROOT_PASSWORD=scriba_root_dev_pass

APP_URL=http://localhost:8080
APP_NAME=Scriba