DB_NAME=scriba_prod
DB_USERNAME=scriba_user
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_root_me

HTTP_PORT=8080

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=change_me
MAIL_PASSWORD=change_me
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_FROM=no-reply@example.com

BACKUP_DIR=./backups
