[mariadb]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
innodb_flush_log_at_trx_commit=1
innodb_file_per_table=1
max_connections=100
skip-name-resolve

[client]
default-character-set=utf8mb4
